@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-900 text-neutral-400 font-sans font-normal;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg font-bold;
  }
  legend {
    @apply text-xl;
  }
  input {
    @apply min-h-8 pl-2 pr-2 bg-neutral-700;
  }
  input {
    @apply border-2 border-neutral-500 border-t-neutral-800 border-l-neutral-800
      hover:border-neutral-400 hover:border-t-neutral-600
      hover:border-l-neutral-600 placeholder-neutral-500;
  }
  a {
    @apply text-orange-600 hover:text-neutral-100 hover:underline;
  }
  table {
    @apply border-collapse text-xs bg-neutral-900;
  }
  tr {
    @apply even:bg-neutral-800;
  }
  td, th {
    @apply p-1.5 border border-orange-900;
  }
}

input::placeholder {
  font-style: italic;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #666 inset !important;
  -webkit-text-fill-color: #ccc !important;
}
